apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    cert-manager.io/inject-ca-from: kube-green/kube-green-serving-cert
    controller-gen.kubebuilder.io/version: v0.16.5
  creationTimestamp: null
  labels:
    app: kube-green
  name: sleepinfos.kube-green.com
spec:
  group: kube-green.com
  names:
    kind: SleepInfo
    listKind: SleepInfoList
    plural: sleepinfos
    singular: sleepinfo
  scope: Namespaced
  versions:
  - name: v1alpha1
    schema:
      openAPIV3Schema:
        description: SleepInfo is the Schema for the sleepinfos API
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: SleepInfoSpec defines the desired state of SleepInfo
            properties:
              excludeRef:
                description: |-
                  ExcludeRef define the resource to exclude from the sleep.
                  Exclusion rules are evaluated in AND condition.
                items:
                  description: Define a resource to filter, used to include or exclude
                    resources from the sleep.
                  properties:
                    apiVersion:
                      description: ApiVersion of the kubernetes resources.
                      type: string
                    kind:
                      description: Kind of the kubernetes resources of the specific
                        version.
                      type: string
                    matchLabels:
                      additionalProperties:
                        type: string
                      description: MatchLabels which identify the kubernetes resource
                        by labels
                      type: object
                    name:
                      description: Name which identify the kubernetes resource.
                      type: string
                  type: object
                type: array
              includeRef:
                description: |-
                  IncludeRef define the resource to include from the sleep.
                  Inclusion rules are evaluated in AND condition.
                items:
                  description: Define a resource to filter, used to include or exclude
                    resources from the sleep.
                  properties:
                    apiVersion:
                      description: ApiVersion of the kubernetes resources.
                      type: string
                    kind:
                      description: Kind of the kubernetes resources of the specific
                        version.
                      type: string
                    matchLabels:
                      additionalProperties:
                        type: string
                      description: MatchLabels which identify the kubernetes resource
                        by labels
                      type: object
                    name:
                      description: Name which identify the kubernetes resource.
                      type: string
                  type: object
                type: array
              patches:
                description: Patches is a list of json 6902 patches to apply to the
                  target resources.
                items:
                  properties:
                    patch:
                      description: Patch is the json6902 patch to apply to the target
                        resource.
                      type: string
                    target:
                      description: Target is the target resource to patch.
                      properties:
                        group:
                          description: Group of the Kubernetes resources.
                          type: string
                        kind:
                          description: Kind of the Kubernetes resources.
                          type: string
                      required:
                      - group
                      - kind
                      type: object
                  required:
                  - patch
                  - target
                  type: object
                type: array
              sleepAt:
                description: |-
                  Hours:Minutes

                  Accept cron schedule for both hour and minute.
                  For example, *:*/2 is set to configure a run every even minute.
                type: string
              suspendCronJobs:
                description: If SuspendCronjobs is set to true, on sleep the cronjobs
                  of the namespace will be suspended.
                type: boolean
              suspendDeployments:
                description: If SuspendDeployments is set to false, on sleep the deployment
                  of the namespace will not be suspended. By default Deployment will
                  be suspended.
                type: boolean
              suspendStatefulSets:
                description: If SuspendStatefulSets is set to false, on sleep the
                  statefulset of the namespace will not be suspended. By default StatefulSet
                  will be suspended.
                type: boolean
              timeZone:
                description: |-
                  Time zone to set the schedule, in IANA time zone identifier.
                  It is not required, default to UTC.
                  For example, for the Italy time zone set Europe/Rome.
                type: string
              wakeUpAt:
                description: |-
                  Hours:Minutes

                  Accept cron schedule for both hour and minute.
                  For example, *:*/2 is set to configure a run every even minute.
                  It is not required.
                type: string
              weekdays:
                description: |-
                  Weekdays are in cron notation.

                  For example, to configure a schedule from monday to friday, set it to "1-5"
                type: string
            required:
            - sleepAt
            - weekdays
            type: object
          status:
            description: SleepInfoStatus defines the observed state of SleepInfo
            properties:
              lastScheduleTime:
                description: Information when was the last time the run was successfully
                  scheduled.
                format: date-time
                type: string
              operation:
                description: |-
                  The operation type handled in last schedule. SLEEP or WAKE_UP are the
                  possibilities
                type: string
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: null
  storedVersions: null
