apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  labels:
    app.kubernetes.io/name: clusterrolebinding
    app.kubernetes.io/instance: manager-rolebinding
    app.kubernetes.io/component: rbac
    app.kubernetes.io/created-by: kube-green
    app.kubernetes.io/part-of: kube-green
    app.kubernetes.io/managed-by: kustomize
  name: kube-green-manager-rolebinding
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: kube-green-manager-role
subjects:
- kind: ServiceAccount
  name: kube-green-controller-manager
  namespace: operators
