name: Release Community Operator
on:
  workflow_call:
    inputs:
      community-operator-fork:
        required: true
        type: string
        description: community operator fork to use in the form <owner>/<repo>
      community-operator-repo:
        required: true
        type: string
        description: original community operator to use in the form <owner>/<repo>
      source-path:
        type: string
        description: path where to find the bundle
        default: './kube-green/bundle/*'
      name:
        type: string
        description: operator name
        default: kube-green
    secrets:
      PERSONAL_ACCESS_TOKEN:
        required: true
jobs:
  community-operator:
    runs-on: ubuntu-latest
    if: github.ref_type == 'tag' && startsWith(github.ref_name, 'v') && !contains(github.ref_name, '-')
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          path: ${{ inputs.name }}
      - name: Update community-operator fork
        run: gh repo sync ${{ inputs.community-operator-fork }} --source ${{ inputs.community-operator-repo }}
        env:
          GITHUB_TOKEN: ${{ secrets.PERSONAL_ACCESS_TOKEN }}
      - name: Checkout community-operator folder
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          repository: ${{ inputs.community-operator-repo }}
          path: community-operators
      - name: set correct version
        run: |
          TAG=${{ github.ref_name }}
          echo "VERSION=${TAG#v}" >> $GITHUB_ENV
      - name: create folder to community-operators if not exists
        run: mkdir -p ./community-operators/operators/${{ inputs.name }}/${VERSION}
      - name: copy bundle folder from ${{ inputs.name }} to community-operators
        run: cp -R ${{ inputs.source-path }} ./community-operators/operators/${{ inputs.name }}/${VERSION}/
      - name: Create Pull Request
        uses: peter-evans/create-pull-request@84ae59a2cdc2258d6fa0732dd66352dddae2a412 # v7.0.9
        with:
          path: community-operators
          signoff: true
          branch: kube-green-${{ env.VERSION }}
          token: ${{ secrets.PERSONAL_ACCESS_TOKEN }}
          commit-message: upgrade kube-green to ${{ env.VERSION }}
          committer: ${{ github.actor }} <${{ github.actor_id }}+${{ github.actor }}@users.noreply.github.com>
          delete-branch: true
          title: operator kube-green (${{ env.VERSION }})
          body: upgrade kube-green to version (${{ env.VERSION }})
          push-to-fork: ${{ inputs.community-operator-fork }}
