name: Helm Chart Releaser
on:
  push:
    branches: [ "*" ]
  pull_request:
    branches: [ "*" ]
  workflow_call:
    inputs:
      release:
        required: false
        type: boolean
        default: false
    secrets:
      GH_PAT_UPDATE_CONTENTS:
        required: true
jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          fetch-depth: 0
      - uses: azure/setup-helm@1a275c3b69536ee54be43f2070a358922e12c8d4 # v4.3.1
      - name: Linting Chart
        run: helm lint ./charts/kube-green
      - name: Setup Chart Linting
        id: lint
        uses: helm/chart-testing-action@6ec842c01de15ebb84c8627d2744a0c2f2755c9f # v2.8.0
      - name: Run chart-testing (list-changed)
        id: list-changed
        run: |
          changed=$(ct list-changed --config ./.github/configs/ct.yaml)
          if [[ -n "$changed" ]]; then
            echo "::set-output name=changed::true"
          fi

      - name: Run chart-testing (lint)
        run: ct lint --debug --charts charts/kube-green --config ./.github/configs/ct.yaml --lint-conf ./.github/configs/lintconf.yaml
      - name: Run chart snapshot tests
        run: make chart-test

      - name: Use golang
        uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v6.0.0
        with:
          go-version-file: ./go.mod
      - name: Set up helm-docs
        run: go install github.com/norwoodj/helm-docs/cmd/helm-docs@f5b3ede7b103eec1ac7f89e5ac37b5fbc5a795ce
      - name: Generate docs and check for changes
        id: helm-docs
        run: |
          helm-docs -d | diff charts/kube-green/README.md -
          if [ $? -ne 0 ]; then
            echo -e '\033[0;31mDocumentation outdated! (Run make helm-docs locally and commit)\033[0m ❌'
            diff charts/kube-green/README.md -
            exit 1
          else
            echo -e '\033[0;32mDocumentation up to date\033[0m ✔'
          fi

  release:
    if: github.ref_type == 'tag' && startsWith(github.ref_name, 'v')
    runs-on: ubuntu-latest
    needs: [lint]
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          fetch-depth: 0
          path: kube-green
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          repository: kube-green/helm-charts
          path: helm-charts
          token: ${{ secrets.GH_PAT_UPDATE_CONTENTS }}
      - name: Setup Helm
        uses: azure/setup-helm@1a275c3b69536ee54be43f2070a358922e12c8d4 # v4.3.1
      - name: Run chart-releaser to create release
        uses: kube-green/chart-releaser-action@0b33fc8b8c73d4d8eb2c94570c871bf5262a5955 # main
        env:
          CR_TOKEN: "${{ secrets.GH_PAT_UPDATE_CONTENTS }}"
        with:
          owner: kube-green
          repo: helm-charts
          pages_branch: main
          commit: main
          skip_upload: true
          workdir: kube-green
      - name: Update index.yaml
        working-directory: helm-charts
        run: |
          git config user.name "${{ github.actor }}"
          git config user.email "${{ github.actor_id }}+${{ github.actor }}@users.noreply.github.com"
          cr index -o kube-green -r helm-charts --package-path ../kube-green/.cr-release-packages --pages-branch main --index-path . --push
