on:
  push:
    branches:
      - "main"
  pull_request:
    branches:
      - "main"
name: Security
jobs:
  gosec:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Source
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Run Gosec Security Scanner
        uses: securego/gosec@master
        with:
          args: ./...
